/*Estilos de letra y colores*/
:root{
    --dark-blue:#242635;
    --lighty-blue: #34B0BE;
    --ligthy-gray: #D1CECA;
    --whity: #ffffff;
}
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: var(--dark-blue);
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 1rem;
    color: var(--whity);
    text-align: center;
    padding: 0 1rem 1rem 1rem;
}
.nav{
    height: 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: relative;
}
.nav-Icono{
    width: 30px;
    margin: 1rem -2rem;
    border-radius: 10%;
    font-family: 'Montserrat', sans-serif;
    font-size: 32px;
    position: fixed;
}
.nav-menu{
    position: relative;
    background-color:#242635;
    width: 100%;
    top: 80px;
    min-height: calc( 100vh - 80px);
    padding: 1rem 1rem;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    color: var(--whity);
    display: flex;
    left: -100%;
    transition: left .7s linear;
}
.nav-Item{
    list-style: none;
}
#btn-menu{
    display: none;
}
#btn-menu:checked ~ .nav-menu{/* selecciones de hermanos generales busca nav menu mientras que btn menueste seleccionado*/
   left: 0;
}
.nav-Item:hover{
    color: var(--lighty-blue);
    cursor: pointer;
}
h1{
    color: var(--lighty-blue);
    font-size: 3rem;
    font-weight: 600;
}
h2{
    color: var(--lighty-blue);
    font-size: 2rem;
    font-weight: 600;
}
h3{
    font-size: 2rem;
    font-weight: 600;
}
h4{
    color: black;
}
a{
    color: var(--whity);
    text-decoration: none;
}
.header-information{  /* Seccion contiene nombre imagen y redes sosciales*/
    display: flex;  
    align-content: center;
    justify-content: center;
    gap: 1rem;
    flex-direction: column;
    margin-bottom: 1rem;
    text-align: center;
}
#icon{
    width: 50px;
    height: 50px;
    padding: 6px;
    background-color: var(--ligthy-gray);
    text-align: center;
    border-radius: 50%;
}

.header-text{ 
    display: flex;
    align-items: center;
    flex-direction: column;
}
.social-container{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    max-width: 350px;
    gap: 2rem;
    margin: 0 auto;
    margin-bottom: 1rem;
}
.text-acent{
    color: var(--lighty-blue);
}
.parrafo{
    margin-bottom: 1rem;
}
.header-h1{
    border-bottom: var(--whity) solid 2px;
    width: 300px;
    margin-bottom: 1rem;
}
.imagen{
    width: 250px;
    height: 250px;
    background-color: rgb(66, 68, 84);
    border-radius: 50%;
    margin: 0 auto;
}
.foto{
    width: 175px;
}
.cuentas{     /* Cuentas de google y mas */
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: rgb(66, 68, 84);
    border-radius: 10px;
    padding: 20px 5px;
}
#icon2{
    width: 100px;
    height: 60px;
    background-color: var(--ligthy-gray);
    text-align: center;
    border-radius: 10px;
    padding: .25rem;
}
.icon2{
    width: 50px;
}
/* Seccion main el cuerpo de la pagina */
.main{
    display: flex;  
    align-content: center;
    justify-content: center;
    gap: 2rem;
    flex-direction: column;
    margin: 4rem 2rem;
    text-align: center;
}
.services-container{
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    gap: 1rem;
}
.serv{
    align-items: center;
    justify-content: center;
    gap: 1rem;
    text-align: center;
    height: 300px;
    min-width: 250px;
    background-color: var(--whity);
    border-radius: 10px;
}
.serv>p{
    margin: 1rem;
    color: black;
}
.img-services{
    width: 100px;
}
.portafolio{
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    gap: 1rem;
    height: 300px;
}
.emeplo{
    width: 300px;
}
/* Footer*/
footer{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 2rem;
    gap: 2rem;
}
footer>div{
    width: 250px;
    height: 200px;
    gap: 2rem;
    background-color: var(--whity);
    color: black;
    border-radius: 10px;
    padding: .5rem;
}
.foot-img{
    padding: .25rem;
    height: 85px;
}
.last-text{
    color: var(--lighty-blue);
    font-size: 20px;
    margin: 2rem;
}
.habilitis{
    width: 300px;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}
.barra {
    width: 300px;
    height: 10px;
    background-color:rgba(255,255,255,0.7);
    border-radius: 10px;
    margin: 1rem;
   
}
.progreso{
    width:var(--w);
    height: 100%;
    background-color: var(--lighty-blue);
    border-radius: 10px;
   animation: Aumentar 5s ease;
}
@keyframes Aumentar{
    0%{width: 0%;}
    100%{width: var(--w);}
}













/*responcive*/

@media screen and (min-width: 768px) {
    .nav-Icono{
       display: none;
    }
    .nav-menu{
        left: 0;
        flex-direction: row;
        top: 0;
        min-height: 80px;
        justify-content: end;
        margin-right: 2rem;
        gap: 2rem;
        transition: none;
        position: fixed;
        background-color: var(--dark-blue);
        z-index: 100;
    }
    a:hover{
        color: var(--lighty-blue);
    }
   
    




    h1{
        font-size: 60px;
    }
    h2,h3,h4{
        font-size: 30px;
    }
    body{
        font-size: 18px;
    }
    .header-information{
        position: relative;
        align-items: center;
        justify-content: center;
       flex-direction: row-reverse;
       margin: .25rem 15rem 2rem -10rem;
       padding: 0;
        z-index: auto;
    }
    .header-text{
        position:relative;
        display: flow-root;
        text-align: left;
        margin-left: 30rem;
    }
    .imagen{
        position: relative;
        width: 23rem;
        height: 23rem;
        padding-left:0;
        margin-left: 0rem; 

    }
    .foto{
        width: 270px;
    }
    .cuentas{
    max-width: 900px;
    height: 135px;
    position: relative;
    margin: 0 0 3rem 15rem;
    }
    .header-h1{
        margin: 1.5rem 0;
        border-bottom: none;
    }
    .header-h3{
        margin-top: 0;
        margin-bottom: 1.5rem;
        border-bottom: var(--whity) solid 2px;
    }
    .parrafo{
        margin: 3rem 0;
    }
    #icon{
        width: 60px;
        height: 60px;
        padding: 6px;
    }
    .icon{
        width: 100px;
    }
    #icon2{
        width: 200px;
        height: 90px;
    }
    .icon2{
        width: 80px;
    }
    .main{
        margin: 5rem 15rem 4rem 15rem;
        text-align: center;
    }
    .services-container{
        overflow: hidden;
        gap: 2rem;
    }
    .portafolio{
        max-width: 900px;
        height: 600px;
        display: grid;
        overflow: hidden;
        gap: 1rem;
        grid-template-columns: repeat(3, 1fr);
    }
    .emeplo{
        width: 250px;
    }
    footer{
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        margin: 1rem 0 1rem 15rem;
        max-width: 800px;
        font-size: 18px;
    }
    .foot-img{
        padding: .25rem;
        height: 75px;
    }
    footer>div{
        max-width: 300px;
        height: 200px;
    }
   
}

/*
imagen dar un maz width de 350px momentaneo
mediacueri de 650px 4.5 rem padding